.rmbt-button {
  display: inline-block;
  width: 125px;
  min-height: 50px;

  text-decoration: none;

  color: #fff;

  font-size: 20px;
  font-weight: 500;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.1);

  border-width: 3px;
  border-color: #000;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 20px;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;

  position: relative;
  z-index: 1;

  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
    &:hover {
      transform: scale(1.07) !important;
      transition: all 0.3s;
    }
  }

  &:hover {
    transform: scale(1.1) !important;
    transition: all 0.3s;
  }
}

.button_contacts {
  background-color: #0147ff;
}

.button_prices {
  background-color: #959595;
}

.button_registration {
  background-color: #246223;
  width: 270px;

  // .to(630px,{
  //      margin-top: 10px;
  //     });
}
