.rmbt-hero-block-wrapper-section {
  margin-top: 130px;
  .adaptive-prop(margin-top, 130, 160);

  .to(1060px,{
  margin-top: 0px
  });
}

.rmbt-hero-block-full-width {
}
.rmbt-hero-block {
  &__row {
    .row-flex();
  }
  &__col {
    .col();
    .size(12);

    padding: 8px 10px 10px 10px;

    position: relative;
  }
  &__text {
    // .adaptive-prop(height, 440, 300);

    position: relative;
    z-index: 1;

    .to(768px,{
    
      text-align: center;
    });
  }
  &__slogan {
    color: rgba(0, 0, 0, 0);
    .adaptive-prop(font-size, 36, 28);

    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #38c236;
    stroke: #38c236;

    .to(1060px,{
      background-color: #eaeaea;
    });
  }
  &__subtitle {
    height: 52px;
    h1 {
      .adaptive-prop(font-size, 32, 26);
      font-weight: 500;
      margin: 0px 0px 0px 0px;
      line-height: 52px;
    }
  }
  &__title {
    .adaptive-prop(font-size, 80, 48);
    font-weight: 800;
    margin-top: -5px;
    margin-bottom: 40px;

    line-height: 110%;

    span {
      position: relative;
      text-transform: uppercase;
      font-weight: 800;
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke-width: 2px;
      stroke-width: 2px;
      -webkit-text-stroke-color: #000;
      stroke: #000;
    }

    svg {
      stroke: #2763ff;
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;

      fill: none;
      // opacity: 0;
      // stroke-dasharray: 0 1500;
      // transition: 0.3s;

      position: absolute;
      top: 50%;
      left: 50%;
      width: 180px;
      height: 120px;
      transform: translate(-50%, -50%);
      overflow: visible;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    .to(630px,{
      justify-content: center;
      });
  }
  &__img {
    position: absolute;
    right: -5px;
    top: 13px;
    width: 575px;
    height: 430px;

    .to(1280px,{
    
      &::after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background-color: rgba(234, 234, 234,0.3);
      }
    });

    .to(1024px,{
    .adaptive-prop( width, 550, 300);
    .adaptive-prop( height, 440, 300);
    });

    .to(768px,{
        width: 100%;

      &::after{
        background-color: rgba(234, 234, 234,0.6);
      }

    });
    .wrap-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
  }
}
